/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 100px;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Fijar el encabezado */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    /*padding: 10px 20px;*/
    z-index: 1000;
}

/* Estilos para el logo */
header .logo {
    display: inline-flex;
    float: left;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
}

/* Botones de navegación */
header nav {
    text-align: center;
    margin-top: 10px;
}

header nav button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header nav button:hover {
    background-color: #555;
}

/* Secciones específicas */

#novelas #cuentos, #matematicas, #fisica, #quimica, #preguntas, #contacto {
    margin-bottom: 30px;
}

/* Imágenes dentro de los artículos*/
article.novelas img {
    width: 100px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

#novelas {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Textos dentro de los artículos*/
.titulo {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}
.autor {
    font-style: italic;
    color: #666;
}
.ubicacion {
    color: #999; 
}

/* Formulario de contacto */

form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Diseño responsive */

/* Media Queries dispositivos pequeños */
@media (max-width: 767px) {
    header {
        padding: 10px;
    }

    main {
        padding: 10px;
    }

    form {
        grid-template-columns: 1fr;
    }
    article.novelas {
        width: 50%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
}

/* Media Queries dispositivos medianos */
@media (min-width: 768px) and (max-width: 1024px) {
    header {
        padding: 15px;
    }

    main {
        padding: 30px;
    }
    article.novelas {
        width: 25%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
}

/* Media Queries dispositivos grandes */
@media (min-width: 1025px) {
    header {
        padding: 20px;
    }

    main {
        padding: 50px;
    }
    article.novelas {
        width: 20%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }
}